html, body {
	height: 100vh;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	color: black;
}

#modal {
	position: absolute;
	z-index: 3;
	height: 100px;
	width: 260px;
	background-color: gray;
	color: black;
	border: 5px double black;
	left: 40vw;
	top: 25vh;
	display: none;
}

#modal p {
	padding-top: 30px;
	text-align: center;
}

header {
	width: 100%;
	z-index: 100;
}

a {
	color: black;
}

a:hover {
	transition: color 500ms;
	color: grey;
	text-decoration: none;
}

.button-color{
	background-color: black;
	color: white;
}

.storeFront {
    font-size: 1.75rem;
}

footer {
	position: static;
  	bottom: 0;
	width:100%; 
	background: black;
	color: white;
}

footer a {
	color: white;
}