<div class="col-4">
    <figure class="text-center pop-item">
        <a href='/product/{{ userid }}/{{ productid }}'><img src="{{ image }}" class="product" alt="popular item">
            <div class="pop-desc">{{ name }}</div>
        </a>
    </figure>
</div>